[Desktop Entry]
Name=Mutagen Sync Manager
Comment=A modern desktop app for managing Mutagen file synchronization - Developed by SitepactJA
Exec=mutagen-sync-manager %U
Icon=com.sitepactja.MutagenSyncManager
Terminal=false
Type=Application
Categories=Development;Utility;
Keywords=sync;file;mutagen;ssh;remote;sitepact;
StartupWMClass=mutagen-sync-manager
